<img onclick="editar()" id="editar" class="editar" src="./assets/img/lapiz.png" alt="" width="30">
<img (click)="agregar()" id="agregar" class="agregar" src="./assets/img/agregar1.png" alt="" width="30">
<img onclick="ok()" id="ok" class="ok" src="./assets/img/ok1.png" alt="" width="30">
<img onclick="cancel()" id="cancel" class="cancel" src="./assets/img/eliminar2.png" alt="" width="30">
<h1>Habilidades</h1>
<div class="habilidades">
  <ul>
    <li *ngFor="let hab of habilidades">
      <img (click)="borrar(hab)" class="eliminar eliminar-habilidades" src="./assets/img/eliminar1.png" alt="">
      <img (click)="guardar(hab)" class="guardar guardar-habilidades" src="./assets/img/ok1.png" alt="">
      <div><img [src]="hab.imglogo" alt=""></div>
      <div [id]="'nomhabilidad' + hab.id" class="hab" contenteditable="true">{{hab.nombre}}</div>
      <div>
        <h6 [id]="'porchabilidad' + hab.id" contenteditable="true">{{hab.porcentaje}}%</h6>
        <div class="progress" role="progressbar" aria-label="Success striped example"
          aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped bg-success" [style]="'width:' + hab.porcentaje + '%'">
          </div>
        </div>
      </div>
    </li>
    <!-- 
    <li>
      <img class="eliminar eliminar-habilidades" src="./assets/img/eliminar1.png" alt="" onclick="eliminar()">
      <div><img src="./assets/img/HTML5.svg.png" alt=""></div>
      <div class="hab">HTML</div>
      <div>
        <h6>80%</h6>
        <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="80"
          aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped bg-success" style="width: 80%">
          </div>
        </div>
      </div>
    </li>
    <li>
      <img class="eliminar eliminar-habilidades" src="./assets/img/eliminar1.png" alt="" onclick="eliminar()">
      <div><img src="./assets/img/CSS3.svg.png" alt=""></div>
      <div class="hab">CSS</div>
      <div>
        <h6>75%</h6>
        <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="75"
          aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped bg-success" style="width: 75%">
          </div>
        </div>
      </div>
    </li>
    <li>
      <img class="eliminar eliminar-habilidades" src="./assets/img/eliminar1.png" alt="" onclick="eliminar()">
      <div><img src="./assets/img/bootstrap.svg.png" alt=""></div>
      <div class="hab">Bootstrap</div>
      <div>
        <h6>55%</h6>
        <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="55"
          aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped bg-success" style="width: 55%">
          </div>
        </div>
      </div>
    </li>
    <li>
      <img class="eliminar eliminar-habilidades" src="./assets/img/eliminar1.png" alt="" onclick="eliminar()">
      <div><img src="./assets/img/javascript.svg.png" alt=""></div>
      <div class="hab">Javascript</div>
      <div>
        <h6>50%</h6>
        <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="50"
          aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped bg-success" style="width: 50%">
          </div>
        </div>
      </div>
    </li>
    <li>
      <img class="eliminar eliminar-habilidades" src="./assets/img/eliminar1.png" alt="" onclick="eliminar()">
      <div><img src="./assets/img/typescript.svg.png" alt=""></div>
      <div class="hab">Typescript</div>
      <div>
        <h6>35%</h6>
        <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="35"
          aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped bg-success" style="width: 35%">
          </div>
        </div>
      </div>
    </li>
    <li>
      <img class="eliminar eliminar-habilidades" src="./assets/img/eliminar1.png" alt="" onclick="eliminar()">
      <div><img src="./assets/img/angular.png" alt=""></div>
      <div class="hab">Angular</div>
      <div>
        <h6>45%</h6>
        <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="45"
          aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped bg-success" style="width: 45%">
          </div>
        </div>
      </div>
    </li>
    <li>
      <img class="eliminar eliminar-habilidades" src="./assets/img/eliminar1.png" alt="" onclick="eliminar()">
      <div><img src="./assets/img/vue.png" alt=""></div>
      <div class="hab">VUE</div>
      <div>
        <h6>45%</h6>
        <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="45"
          aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped bg-success" style="width: 45%">
          </div>
        </div>
      </div>
    </li>
    <li>
      <img class="eliminar eliminar-habilidades" src="./assets/img/eliminar1.png" alt="" onclick="eliminar()">
      <div><img src="./assets/img/mysql.png" alt=""></div>
      <div class="hab">MySQL</div>
      <div>
        <h6>60%</h6>
        <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="60"
          aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped bg-success" style="width: 60%">
          </div>
        </div>
      </div>
    </li>
    <li>
      <img class="eliminar eliminar-habilidades" src="./assets/img/eliminar1.png" alt="" onclick="eliminar()">
      <div><img src="./assets/img/java.png" alt=""></div>
      <div class="hab">Java</div>
      <div>
        <h6>80%</h6>
        <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="80"
          aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped bg-success" style="width: 80%">
          </div>
        </div>
      </div>
    </li>
    <li>
      <img class="eliminar eliminar-habilidades" src="./assets/img/eliminar1.png" alt="" onclick="eliminar()">
      <div><img src="./assets/img/spring_boot.png" alt=""></div>
      <div class="hab">Spring Boot</div>
      <div>
        <h6>60%</h6>
        <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="60"
          aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped bg-success" style="width: 60%">
          </div>
        </div>
      </div>
    </li>
    <li>
      <img class="eliminar eliminar-habilidades" src="./assets/img/eliminar1.png" alt="" onclick="eliminar()">
      <div><img src="./assets/img/python.svg.png" alt=""></div>
      <div class="hab">Python</div>
      <div>
        <h6>90%</h6>
        <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="90"
          aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped bg-success" style="width: 90%">
          </div>
        </div>
      </div>
    </li>
    <li>
      <img class="eliminar eliminar-habilidades" src="./assets/img/eliminar1.png" alt="" onclick="eliminar()">
      <div><img src="./assets/img/flask.png" alt=""></div>
      <div class="hab">Flask</div>
      <div>
        <h6>68%</h6>
        <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="68"
          aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped bg-success" style="width: 68%">
          </div>
        </div>
      </div>
    </li>
    -->
  </ul>
</div>