<div id="cargando" *ngIf="estaCargando">
    <h1>Cargando Informacion...</h1>
</div>
<div *ngIf="!estaCargando">
    <img *ngIf="estaLogueado.state && !estaEditando" (click)="editar()" id="editar" class="editar visible"
        src="./assets/img/lapiz.png" alt="" width="30">
    <img *ngIf="estaLogueado.state && !estaEditando" (click)="agregar()" id="agregar" class="agregar"
        src="./assets/img/agregar1.png" alt="" width="30">
    
    <img *ngIf="estaEditando" id="cancel" class="cancel" src="./assets/img/eliminar2.png" alt=""
        width="30" data-bs-toggle="modal" data-bs-target="#terminar-edicion">
        <div class="modal fade" id="terminar-edicion" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Terminar Edicion</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Seguro que desea terminar la edicion?
                    </div>
                    <div class="modal-footer">
                        <button type="button" (click)="cancelar()" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#terminar-edicion">Aceptar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    <h1>Estudios</h1>
    <div id="estudios" class="estudios">
        <div *ngFor="let est of estudios" class="card" style="width: 250px;">
            <img *ngIf="estaEditando" class="eliminar visible" src="./assets/img/eliminar1.png"
                alt="" data-bs-toggle="modal" [attr.data-bs-target]="'#borrar-item' + est.id">
                <div class="modal fade" [id]="'borrar-item' + est.id" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Educacion</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Seguro que desea eliminar el item? {{est.nombreinstitucion}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" (click)="borrar(est)" class="btn btn-success" data-bs-toggle="modal" [attr.data-bs-target]="'#borrar-item' + est.id">Eliminar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
        
                <img *ngIf="estaEditando" class="eliminar guardar visible" src="./assets/img/ok1.png"
                alt="" data-bs-toggle="modal" [attr.data-bs-target]="'#guardar-item' + est.id">
                <div class="modal fade" [id]="'guardar-item' + est.id" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Guardar Educacion</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Seguro que desea guardar los cambios realizados en {{est.nombreinstitucion}}?
                            </div>
                            <div class="modal-footer">
                                <button type="button" (click)="guardar(est)" class="btn btn-success" data-bs-toggle="modal" [attr.data-bs-target]="'#guardar-item' + est.id">Guardar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>

            <img [src]="est.imglogo" class="img-fluid rounded-start" alt="">
            <input *ngIf="estaEditando" class="file-img" (change)="change(est, $event)" type="file"
                [id]="'imgUploader'+est.id">
            <div class="card-body">
                <h5 [id]="'institucion'+est.id" class="card-title editable">{{est.nombreinstitucion}}</h5>
                <h6 [id]="'titulo'+est.id" class="card-subtitle mb-2 text-muted editable">{{est.titulo}}</h6>
                <p [id]="'fecha'+est.id" class="card-text editable">{{est.fechadesde}} - {{est.fechahasta}}</p>
            </div>
        </div>

        <!--
    <div class="card" style="width: 250px;">
        <img class="eliminar" src="./assets/img/eliminar1.png" alt="" onclick="eliminar()">
        <img src="./assets/img/16.png" class="img-fluid rounded-start" alt="">
        <div class="card-body">
            <h5 class="card-title">Escuela N°16</h5>
            <h6 class="card-subtitle mb-2 text-muted">Primaria</h6>
            <p class="card-text">1993 - 2001</p>
        </div>
    </div>
    <div class="card" style="width: 250px;">
        <img class="eliminar" src="./assets/img/eliminar1.png" alt="" onclick="eliminar()">
        <img src="./assets/img/eest2.png" class="img-fluid rounded-start" alt="">
        <div class="card-body">
            <h5 class="card-title">Escuela Enseñanza Tecnica N°2</h5>
            <h6 class="card-subtitle mb-2 text-muted">Secundaria</h6>
            <p class="card-text">2002 - 2004</p>
        </div>
    </div>
    <div class="card" style="width: 250px;">
        <img class="eliminar" src="./assets/img/eliminar1.png" alt="" onclick="eliminar()">
        <img src="./assets/img/AP.png" class="img-fluid rounded-start" alt="">
        <div class="card-body">
            <h5 class="card-title">Argentina Programa</h5>
            <h6 class="card-subtitle mb-2 text-muted">Full Stack Developer Java</h6>
            <p class="card-text">2022 - 2023</p>
        </div>
    </div>
    <div class="card" style="width: 250px;">
        <img class="eliminar" src="./assets/img/eliminar1.png" alt="" onclick="eliminar()">
        <img src="./assets/img/codoacodo.png" class="img-fluid rounded-start" alt="">
        <div class="card-body">
            <h5 class="card-title">Codo a Codo</h5>
            <h6 class="card-subtitle mb-2 text-muted">Full Stack Developer Python</h6>
            <p class="card-text">2022 - 2023</p>
        </div>
    </div>
    -->
    </div>
</div>