<img onclick="editar()" id="editar" class="editar" src="./assets/img/lapiz.png" alt="" width="30">
<img onclick="agregar()" id="agregar" class="agregar" src="./assets/img/agregar1.png" alt="" width="30">
<img onclick="ok()" id="ok" class="ok" src="./assets/img/ok1.png" alt="" width="30">
<img onclick="cancel()" id="cancel" class="cancel" src="./assets/img/eliminar2.png" alt="" width="30">
<h1>Proyectos</h1>
<div class="proyectos">
  <div class="accordion" id="accordionExample">
    <div *ngFor="let proy of proyectos; index as i" class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i"
          aria-expanded="true" aria-controls="collapseOne">
          {{proy.nombre}}
        </button>
      </h2>
      <div [attr.id]="'collapse' + i" [ngClass]="{'show': i == 0 }" class="accordion-collapse collapse" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <img (click)="borrar(proy.id)" class="eliminar eliminar-proyectos visible" src="./assets/img/eliminar1.png" alt="">
          <img class="img-proy" [src]="proy.imagen" alt="">
          <p>{{proy.descripcion}}
          </p>
          <a class="btn btn-success" [href]="proy.enlace" target="_blank">Ir al
            sitio</a>
        </div>
      </div>
    </div>
    <!-- 
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          La Cocina de Juan
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <img class="eliminar eliminar-proyectos" src="./assets/img/eliminar1.png" alt="" onclick="eliminar()">
          <img class="img-proy" src="./assets/img/cocina_de_juan.png" alt="">
          <p>Sitio web estatico creado usando HTML y CSS.
          </p>
          <a class="btn btn-success" href="https://cocinadejuanfavale.netlify.app/index.html" target="_blank">Ir al
            sitio</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          La Guerra de las Consolas
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <img class="eliminar eliminar-proyectos" src="./assets/img/eliminar1.png" alt="" onclick="eliminar()">
          <img class="img-proy" src="./assets/img/consolas.png" alt="">
          <p>Inicio de proyecto de sitio web sobre video consolas y juegos</p>
          <a class="btn btn-success" href="https://prueba-proyecto-grupal.netlify.app/" target="_blank">Ir al
            sitio</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Mighty Ducks Hockey League
        </button>
      </h2>
    </div>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <img class="eliminar eliminar-proyectos" src="./assets/img/eliminar1.png" alt="" onclick="eliminar()">
        <img class="img-proy" src="./assets/img/mdhl.png" alt="">
        <p>Proyecto academico de Argentina Programa con MindHub.
          Sitio web estatico realizado en HTML y CSS.
        </p>
        <a class="btn btn-success" href="https://juanpablofavale.github.io/MDHL_favale/index.html"
          target="_blank">Ir
          al sitio</a>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Nerdilon
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <img class="eliminar eliminar-proyectos" src="./assets/img/eliminar1.png" alt="" onclick="eliminar()">
          <img class="img-proy" src="./assets/img/nerdilon.png" alt="">
          <p>Proyecto grupal de sitio web de nerdilon.</p>
          <a class="btn btn-success" href="https://jmcastex.github.io/nerdilon/pages/contacto.html"
            target="_blank">Ir al sitio</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Rotiseria
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <img class="eliminar eliminar-proyectos" src="./assets/img/eliminar1.png" alt="" onclick="eliminar()">
          <img class="img-proy" src="./assets/img/rotiseria.png" alt="">
          <p>Proyecto avanzado de aplicacion web para una rotiseria.
            CRUD API realizado en python. Front-End realizado con VUE.
          </p>
          <a class="btn btn-success" href="https://juanpablofavale.github.io/FrontparaFlaskCrud" target="_blank">Ir
            al sitio</a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Portfolio Personal
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <img class="eliminar eliminar-proyectos" src="./assets/img/eliminar1.png" alt="" onclick="eliminar()">
          <img class="img-proy" src="./assets/img/portfolio2.png" alt="">
          <p>Portfolio personal de prueba.</p>
          <a class="btn btn-success" href="https://juanpablofavale.github.io/portfolio-angular/" target="_blank">Ir
            al sitio</a>
        </div>
      </div>
    </div>
    -->
  </div>
</div>