<img onclick="editar()" id="editar" class="editar" src="./assets/img/lapiz.png" alt="" width="30">
<img onclick="agregar()" id="agregar" class="agregar" src="./assets/img/agregar1.png" alt="" height="0">
<img onclick="ok()" id="ok" class="ok" src="./assets/img/ok1.png" alt="" width="30">
<img onclick="cancel()" id="cancel" class="cancel" src="./assets/img/eliminar2.png" alt="" width="30">
<h1 class="text-center">{{persona.nombre}}</h1>
<img class="profile-img" [src]="persona.imgperfil" alt="foto de perfil">
<img onclick="" id="edita-img" class="edita-img" src="./assets/img/lapiz.png" alt="" width="30">
<h2 class="titulo">{{persona.subtitulo}}</h2>
<p>{{persona.acerca}}</p>