<div id="acerca">
    <div id="cargando" *ngIf="estaCargando">
        <h1>Cargando Informacion...</h1>
    </div>
    <div *ngIf="!estaCargando">
        <img *ngIf="estaLogueado.state && !estaEditando" (click)="editar()" id="editar" class="editar" src="./assets/img/lapiz.png" alt="" width="30">
        <img *ngIf="estaEditando" (click)="guardar(persona)" id="ok" class="ok" src="./assets/img/ok1.png" alt="" width="30">
        <img *ngIf="estaEditando" (click)="cancelar(persona)" id="cancel" class="cancel" src="./assets/img/eliminar2.png" alt="" width="30">
        <h1 id="nombreAcerca" class="text-center">{{persona.nombre}}</h1>
        <div class="div-img-acerca">
            <img class="profile-img" [src]="persona.imgperfil" alt="foto de perfil">
            <input *ngIf="estaEditando" (change)="change(persona, $event)" type="file" [id]="'imgUploader'+persona.id">
        </div>
        <h2 id="tituloAcerca" class="titulo">{{persona.subtitulo}}</h2>
        <p id="sobreMiAcerca">{{persona.acerca}}</p>
    </div>
</div>