<div id="inicia" class="sesion">
  <form action="" onsubmit="return false">
    <input id="borrar-campos" type="reset" value="reset" hidden>
    <h3>Inicio de Sesion</h3>
    <div></div>
    <a id="cerrar-form" class="cerrar" [href]="paginaActual[0] + '#'">x</a>
      <input [(ngModel)]="usrName" class="campo" type="text" id="user" name="user" placeholder="Usuario">
      <input [(ngModel)]="usrPass" class="campo" type="password" id="password" name="password" placeholder="Contraseña" [value]="usrPass">
      <button (click)="iniciar(usrName, usrPass)" class="btn btn-success iniciar">Iniciar</button>
      <div></div>
    </form>
</div>
<!-- 
  <div id="registra" class="sesion">
    <form action="" onsubmit="return false">
      <h3>Nuevo Usuario</h3>
      <div></div>
      <a class="cerrar" [href]="paginaActual[0] + '#'">x</a>
      <input class="campo" type="text" id="user-new" name="user" placeholder="Usuario">
      <input class="campo" type="password" id="password-new" name="password" placeholder="Contraseña">
      <input class="campo" type="email" id="email-new" name="email" placeholder="Email">
      <input class="campo" type="number" id="telefono-new" name="telefono" placeholder="Telefono">
      <input class="btn btn-success" type="button" value="Registrarse">
      <p>¿Ya tiene una cuenta? <a [href]="paginaActual[0] + '#inicia'">Inicie Sesion!</a></p>
      <div></div>
    </form>
  </div>
  -->
<header>
  <!-- place navbar here -->
  <nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa"
        target="_blank"><img class="logo" src="./assets/img/AP.png" alt="logo">Argentina Programa</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/index">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/estudios">Estudios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/habilidades">Habilidades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/proyectos">Proyectos</a>
          </li>
          <!-- 
              <li class="nav-item">
                <a *ngIf="!estaLogueado.state" class="btn btn-success reg" [href]="paginaActual[0] + '#registra'">Registro</a>
              </li>
            -->
          <li *ngIf="!estaLogueado.state" class="nav-item">
            <a class="btn btn-success ini" [href]="paginaActual[0] + '#inicia'">Iniciar Sesion</a>
          </li>
          <li *ngIf="estaLogueado.state">
            <p class="usr">Usuario: {{usrName}}</p>
          </li>
          <li *ngIf="estaLogueado.state" class="nav-item openSession">
            <a class="btn btn-success cerr" [href]="paginaActual[0] + '#'" data-bs-toggle="modal"
              data-bs-target="#cerrar-sesion">Cerrar Sesion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="modal fade" id="cerrar-sesion" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cerrar Sesion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Seguro que desea cerrar su sesion?
      </div>
      <div class="modal-footer">
        <button type="button" (click)="logOut()" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#cerrar-sesion">Aceptar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
</header>